NODEFLOW.txt
[{"id":"41fb293d.d3a408","type":"template","z":"d5544792.1e1058","name":"LED ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"311/0/5850\", \"payload\":\"MQ==\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":405,"y":114,"wires":[["5dcafcc0.e28f04"]]},{"id":"85692dbb.2acf1","type":"template","z":"d5544792.1e1058","name":"LED OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"311/0/5850\", \"payload\":\"MA==\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":406.03558349609375,"y":60.142852783203125,"wires":[["5dcafcc0.e28f04"]]},{"id":"52885c22.650ad4","type":"inject","z":"d5544792.1e1058","name":"Turn LED ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137.7259063720703,"y":113.53564643859863,"wires":[["41fb293d.d3a408"]]},{"id":"fd2de0a5.ef5de","type":"inject","z":"d5544792.1e1058","name":"Turn LED OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":139.56732177734375,"y":59.51988220214844,"wires":[["85692dbb.2acf1"]]},{"id":"414f2b4c.f28004","type":"debug","z":"d5544792.1e1058","name":"","active":true,"console":"false","complete":"payload","x":634.7537841796875,"y":178.4639434814453,"wires":[]},{"id":"14f3f51.0d4800b","type":"mqtt in","z":"d5544792.1e1058","name":"endpoint observations","topic":"mbed/notify/#","qos":"2","broker":"2a248ef7.9e3b2a","x":152.25376892089844,"y":178.4639434814453,"wires":[["954eac1d.dd6e5"]]},{"id":"5dcafcc0.e28f04","type":"mqtt out","z":"d5544792.1e1058","name":"set LED command (PUT)","topic":"mbed/request/mbed-endpoint/MBED_ENDPOINT_NAME_GOES_HERE/311/0/5850","qos":"","retain":"","broker":"2a248ef7.9e3b2a","x":660.2537841796875,"y":79.46394348144531,"wires":[]},{"id":"954eac1d.dd6e5","type":"function","z":"d5544792.1e1058","name":"Base64DecodeToValueJSON","func":"// Base64 Support\nvar Base64 = {\n    _keyStr: \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",\n    encode: function(e) {\n        var t = \"\";\n        var n, r, i, s, o, u, a;\n        var f = 0;\n        e = Base64._utf8_encode(e);\n        while (f < e.length) {\n            n = e.charCodeAt(f++);\n            r = e.charCodeAt(f++);\n            i = e.charCodeAt(f++);\n            s = n >> 2;\n            o = (n & 3) << 4 | r >> 4;\n            u = (r & 15) << 2 | i >> 6;\n            a = i & 63;\n            if (isNaN(r)) {\n                u = a = 64;\n            } else if (isNaN(i)) {\n                a = 64;\n            }\n            t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a);\n        }\n        return t;\n    },\n    decode: function(e) {\n        var t = \"\";\n        var n, r, i;\n        var s, o, u, a;\n        var f = 0;\n        e = e.replace(/[^A-Za-z0-9+/=]/g, \"\");\n        while (f < e.length) {\n            s = this._keyStr.indexOf(e.charAt(f++));\n            o = this._keyStr.indexOf(e.charAt(f++));\n            u = this._keyStr.indexOf(e.charAt(f++));\n            a = this._keyStr.indexOf(e.charAt(f++));\n            n = s << 2 | o >> 4;\n            r = (o & 15) << 4 | u >> 2;\n            i = (u & 3) << 6 | a;\n            t = t + String.fromCharCode(n);\n            if (u != 64) {\n                t = t + String.fromCharCode(r);\n            }\n            if (a != 64) {\n                t = t + String.fromCharCode(i);\n            }\n        }\n        t = Base64._utf8_decode(t);\n        return t;\n    },\n    _utf8_encode: function(e) {\n        e = e.replace(/rn/g, \"n\");\n        var t = \"\";\n        for (var n = 0; n < e.length; n++) {\n            var r = e.charCodeAt(n);\n            if (r < 128) {\n                t += String.fromCharCode(r);\n            } else if (r > 127 && r < 2048) {\n                t += String.fromCharCode(r >> 6 | 192);\n                t += String.fromCharCode(r & 63 | 128);\n            } else {\n                t += String.fromCharCode(r >> 12 | 224);\n                t += String.fromCharCode(r >> 6 & 63 | 128);\n                t += String.fromCharCode(r & 63 | 128);\n            }\n        }\n        return t;\n    },\n    _utf8_decode: function(e) {\n        var t = \"\";\n        var n = 0;\n        var r, c2;\n        while (n < e.length) {\n            r = e.charCodeAt(n);\n            if (r < 128) {\n                t += String.fromCharCode(r);\n                n++\n            } else if (r > 191 && r < 224) {\n                c2 = e.charCodeAt(n + 1);\n                t += String.fromCharCode((r & 31) << 6 | c2 & 63);\n                n += 2\n            } else {\n                c2 = e.charCodeAt(n + 1);\n                c3 = e.charCodeAt(n + 2);\n                t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);\n                n += 3\n            }\n        }\n        return t\n    }\n};\n\nvar json_obj = JSON.parse(msg.payload);\nvar decoded_payload = Base64.decode(json_obj.payload);\nreturn {\"payload\":decoded_payload};","outputs":1,"noerr":0,"x":405.64288330078125,"y":178.1865234375,"wires":[["414f2b4c.f28004"]]},{"id":"2a248ef7.9e3b2a","type":"mqtt-broker","z":"d5544792.1e1058","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]
